meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = config.title

meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
meta(name="keywords", content="OtsuLog,Naoki,Otsu,大津,直樹,フロントエンド")
meta(name="copyright", content="Copyright &copy; Naoki Otsu. All rights reserved")
meta(property="og:title", content="OtsuLog")
meta(property="og:type", content="blog")
meta(property="og:url", content="http://naoki-otsu.info/")
meta(property="og:image", content="http://naoki-otsu.info/images/ogimage_facebook.png")
meta(property="og:site_name", content="OtsuLog")
meta(property="og:description", content="Naoki Otsuのブログです。フロントエンド(HTML,CSS,JavaScript)に関わる事を掲載しています。")
meta(property="og:locale", content="ja_JP")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@melo15")
meta(name="twitter:title", content="OtsuLog")
meta(name="twitter:description", content="Naoki Otsuによるブログです。フロントエンド(HTML,CSS,JavaScript)に関わる事を掲載しています。")
meta(name="twitter:image:src", content="http://naoki-otsu.info/images/ogimage_twitter.png")
link(rel="icon", href="http://naoki-otsu.info/images/favicon.ico")
link(rel="shortcut icon", href="http://naoki-otsu.info/images/favicon.ico")
link(rel="apple-touch-icon", sizes="180x180", href="http://naoki-otsu.info/images/apple_touch_icon.png")

link(rel="short icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/apollo.css"))

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
    
